<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.datetime_select :birthdate %>
  </div>
  
  <div class="field">
	<%= f.label :sex %><br />
	<div>
    <%= f.radio_button(:sex, "male") %>
	<%= f.label(:sex_male, "Male") %>
	<%= f.radio_button(:sex, "female") %>
	<%= f.label(:sex_female, "Female") %>
	</div>
  </div> 
  
  <div class="field">
	<%= f.label :languages %><br />
	<div>
    <%= f.check_box(:languages_english) %>
	<%= f.label(:languages_english, "English") %>
	<%= f.check_box(:languages_spanish) %>
	<%= f.label(:languages_sapnish, "Spanish") %>
	<%= f.check_box(:languages_german) %>
	<%= f.label(:languages_german, "German") %>
	</div>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br />
    <%= f.text_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :colony %><br />
    <%= f.text_field :colony %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.collection_select :state_id, @states, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :municipality_id %><br />
    <%= f.collection_select :municipality_id, @municipalities, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
